/**
 * Read more elements are defined here.
 */
.detailsview{
	width: auto;
	
	position: relative;
	background-color: $white;
	overflow: hidden;
	max-height: 0;
	@include transition-property(all);
	@include transition-duration(1.2s);
	@include transition-timing-function(ease-out);
}
.detailsview--loading{
	max-height: 1200px;
	background: url($images-path + 'ourwork-loader.gif') no-repeat center center;
	background-color: $white;
	margin-bottom: 5px;
	.detailsview__wrapper{
		visibility: hidden;
	}
	.detailsview__wrapper__closebtn{
		@include transition-property(none);
	}
}
.detailsview--open{
	
	max-height: 1200px;
	margin-bottom: 5px;
	.detailsview__wrapper{
		visibility: visible;
	}
}
.detailsview--close{
	margin-bottom: 0;
	max-height: 0;
	@include transition-duration(0.6s);
	.detailsview__wrapper{
		visibility: visible;
	}
}
.detailsview__wrapper{
	padding: 1%;
	width: auto;
	visibility: hidden;

	h2{
		font-size: em(26px);
	}
	hr{
		height: 6px;
		width: auto;
		background: url($images-path + 'border-img.png') repeat-x;
		content: "";
		display: block;
		margin-bottom: em(8px);
		border: 0 none;
		margin-top: 0;
	}
}
.detailsview__wrapper--invisible{
	visibility: hidden;
}
.detailsview__wrapper__closebtn{
	width: 31px;
	height: 31px;
	cursor: pointer;
	background: url($images-path + "icons-big.png") left -43px;
	position: absolute;
	right: 5px;
	top: 5px;
	background-color: rgba($white, 0.5);
	@include transition-duration('0.5s');
	&:hover{

		@include opacity(0.5);
	}
}
.detailsview__wrapper__figure{
	float: left;
	margin: 0 20px 10px 0;
	width: 30%;
	max-width: 570px;
	min-width: 370px;
	img{
		
		width: 100%;
	}
}
.detailsview__wrapper__content{
	
	
	ul{
		float: left;
	
		li{
			font-size: em(14px);
			float: left;
			width: 50%;
			min-width: 200px;
		}
		&.detailsview__wrapper__links{
			margin: 0;
			padding: 0;	
			display: inline-block;
			float: none;
			li{
				float: none;
				width: 100%;
				font-size: em(14px);
				padding: 0;
				list-style: none;
				a{
					background: url($images-path + "arrow.gif") no-repeat 0 center;
					padding-left: em(23px);
					@include transition-property(none);
				}
			}
		}
		&.detailsview__wrapper__technologies{
			margin-bottom: em(10px);
		}
		&.simple{
			
			display: block;
			float: none;
			margin-bottom:1em;
			li{
				float: none;
				width: 100%;
			}
		}
	}
}
.detailsview__wrapper__header{
	margin-bottom: em(8px, 22px);
}
.detailsview__wrapper__description{
	
	width: auto;

	h3{
		float: left;
		padding-right: em(20px, 18px);
	}

	
}


.detailsview__wrapper__fakeclearcontainer{
	display: table;
}


/**
 * M (tablets)
 */

@media only screen and (max-width: 960px) {

	.detailsview__wrapper__figure{
		display: none;
	}
	.detailsview__wrapper{
		padding: 3%;
	}
	.detailsview__wrapper__content{

		ul{
			li{	
				float: none;
				width: auto;
			}
		}
	}
}

/**
 * XS (mobiles)
 */

@media only screen and (max-width: 480px) {
	.detailsview{
		display: none;
	}
}
