/**
 * Grid and it's elements are defined here.
 */

.gridmask{
	width: 100%;
	position: relative;
	overflow: hidden;
}
.grid{
	width: 100%;
	position: relative;
	left: 2.5px;
}
.grid__item{
	width: 25%;
	position: relative;
	float: left;
	overflow:hidden;
}
.grid__item--active{
	@include opacity(0.5);
	@include transition-duration(0.5s);
	@include transition-property(opacity);

	&:after{
		display: block;
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.grid__item--animation{
	@include transition-duration(0.5s);
}
.grid__item__wrapper{
	padding:5px 5px 20px;
	margin-right: 5px;
	margin-bottom: 5px;
	width: auto;
	background-color: $white;

	p{
		font-size: em(12px);
	}
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li{
		float: left;
		margin: 0;
	}
}
.grid__item__wrapper__content{
	padding: 0 em(10px);
}

.grid__item__wrapper--main{
	padding: em(40px) em(20px) em(32px);
	header{
		margin-bottom: em(14px);
	}
	p{
		font-size: em(15px);
		font-family: $questrial;
		line-height: em(20px, 15px);
		text-align: center;
		padding-bottom: em(8px, 15px);
	}
}
.grid__item__wrapper__logo{
	width: 100%;
	height: 27px;
	position: relative;
	overflow: hidden;
	margin-bottom: em(14px, 32px);

	img{
		max-width: 257px;
		margin: 0 auto;
		display: block;
		width: 100%;
	}
	span{
		text-indent: -9999px;
		display: block;
	}
}

.grid__item__wrapper--project{

	h2{
		color: $orange;
		margin: em(8px, 22px) em(10px, 22px) em(8px, 22px);
		padding-bottom: em(8px, 22px);
		border-bottom:1px solid rgba($grey, 0.5);
	}
	figure{
		display: block;
		overflow: hidden;
		position: relative;
		cursor: pointer;
		&:hover .js__grid__item__wrapper__rollover{
			top: 0;
			
		}
		
		
	}
	img{
		width:100%;
	}
	p{
		color: $firefly;
	}
}
.js__grid__item__wrapper__rollover{
	position: absolute;
	top: 100%;
	width: 100%;
	height: 100%;
	background-color: rgba($black, 0.8); 
	content: " ";
	left: 0;
	@include transition-property(top);
	@include transition-duration(0.5s);
	@include transition-timing-function(ease-out);

	a{
		
		height: 100%;
		display: block;
		font-size: em(18px);
		font-family: $montserrat;
		text-align: center;
		top: 0;
		position: relative;
		color: $white;
		width: 100%;
		top: 52.5%;
		&:after{
			width: 43px;
			height: 43px;
			margin-top: -45px;
			content: "";
			position: absolute;
			background: url($images-path + "icons-big.png") no-repeat center 0;
			left: 50%;
			margin-left: -21.5px;
		}
		&:hover{
			text-decoration: none;
		}
		&:hover:after{
			@include opacity(0.8);
		}
		
	}

}
ul.grid__item__wrapper__content__technologies{
	margin-bottom: em(8px);
	float: left;
	width: 100%;
	li {
		margin-right: em(8px, 11px);
		font-size: em(11px);
		margin-bottom: em(8px, 11px);
		color: $white;
		padding: em(3px, 11px) em(10px, 11px);
		background-color: rgba($black, 0.3);
		
		@include border-radius(3px);
	}
}
.grid__item__wrapper__content__links{
	li{
		margin-bottom: 0;
		font-size: em(11px);
		margin-right: em(16px, 11px);
	}
	a{
		background: url($images-path + "icons-small.png") no-repeat;
		height: 15px;
		display: block;
		line-height: em(12px,11px);
	}
}
.grid__item__wrapper__content__links__readmore{
	a{
		padding-left: 16px;
		background-position: 0 0;
	}
}
.grid__item__wrapper__content__links__link{
	a{
		padding-left: 19px;
		background-position: 0 -13px;
	}
}

.grid__item__wrapper--about{
	background-color: $orange;
	height: em(190px);
	padding-bottom: 0;
	overflow: hidden;
	h2 {
		vertical-align: middle;
		text-align: center;
		height: 100%;
		
		display: table-cell;
		color: $white;
		margin: 0;
		text-transform: uppercase;
		font-family: $montserrat;
		font-weight: bold;
		text-align: center;
		font-size: em(36px, 22px);
		line-height: em(40px, 36px);
	}

	&:hover .js__grid__item__wrapper__rollover{
			top: 0;
			
	}
}
.grid__item__wrapper__header{
	border-bottom: 0 none;
	height: 100%;
	display: table;
	width: 100%;
}

.grid__item__wrapper--plugin{
	@extend .grid__item__wrapper--project;
	background-color: $blue;
	padding-top: 15px;

	h2{
		color: $white;
		border-bottom-color: rgba($white, 0.5);
	}
	p{
		color: $white;
	}
	a{
		color: $white;

		&:hover{
			color: $firefly;
		}
	}

	.grid__item__wrapper__content__links__readmore a{
		background-position: 0 -30px;
	}

	.grid__item__wrapper__content__links__link a{
		background-position: 0 -43px;
	}
}
.grid__item__wrapper--blog{
	@extend .grid__item__wrapper--plugin;
	background-color: $green;

	p{
		font-size: em(16px);
		padding-bottom: em(14px, 16px);
	}
}

.js__grid__item__wrapper__rollover{
	position: absolute;
	top: 100%;
	width: 100%;
	height: 100%;
	background-color: rgba($black, 0.8); 
	content: " ";
	left: 0;
	@include transition-property(top);
	@include transition-duration(0.5s);
	@include transition-timing-function(ease-out);

	a{
		
		height: 100%;
		display: block;
		font-size: em(18px);
		font-family: $montserrat;
		text-align: center;
		top: 0;
		position: relative;
		color: $white;
		width: 100%;
		top: 52.5%;
		&:after{
			width: 43px;
			height: 43px;
			margin-top: -45px;
			content: "";
			position: absolute;
			background: url($images-path + "icons-big.png") no-repeat center 0;
			left: 50%;
			margin-left: -21.5px;
		}
		&:hover{
			text-decoration: none;
		}
		&:hover:after{
			@include opacity(0.8);
		}
		
	}

}

//-----------------------------------------------------------------------
// Modernizr specific
//-----------------------------------------------------------------------


.touch{
	.js__grid__item__wrapper__rollover{
		top: 0;
		@include opacity(0);

	}
}

//-----------------------------------------------------------------------
// Mediaqueries
//-----------------------------------------------------------------------

/**
 * XL (tablets)
 */

@media only screen and (min-width: 1601px) {

	.grid__item{
		width: 20%;
	}
}

/**
 * M (tablets)
 */

@media only screen and (max-width: 960px) {

	.grid__item{
		width: 33.3%;
	}
}

/**
 * S (small tablets / tablets portrait)
 */

@media only screen and (max-width: 768px) {

	.grid__item{
		width: 50%;
	}
}

/**
 * XS (mobiles)
 */

@media only screen and (max-width: 480px) {
	.grid__item{
		width: 100%;
	}
	.grid__item__wrapper{
		p{
			font-size: em(16px);
		}
	}
	.grid__item__wrapper--about{
		display: none;
	}
	.grid__item__wrapper__content__links__readmore{
		display: none;
	}
	.grid__item--active{
		@include opacity(1);

		&:after{
			display: none;
		}
	}
	.js__grid__item__wrapper__rollover{
		position: absolute;
		top: 0;
		background-color: transparent; 
		@include transition-property(none);

		a{
			top: 0;
			content: "";
			text-indent: -9999px;
			&:after{
				display: none;

			}
			&:hover{
				text-decoration: none;
			}
			&:hover:after{
				@include opacity(0.8);
			}
			
		}

	}
	.grid__item__wrapper__content__links li{
		font-size: em(14px);

	}
	.grid__item__wrapper__content__links__link a{
		background-size: 19px;
		padding-left: 26px;
		background-position: 0 -16px;
	}
	.grid__item__wrapper--plugin .grid__item__wrapper__content__links__link a, .grid__item__wrapper--blog .grid__item__wrapper__content__links__link a{
		background-position: 0 -54px;
	}
}